<h1>Admin Merchant Index Page</h1><br>

<div id="top_5_merchants">
  <h4>Top 5 merchants:</h4>
  <% @merchants.top_five.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <h3><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
    <p>Total Revenue: $<%= merchant.total_revenue.to_s.insert(-3, '.') %></p>
  </div>
  <% end %>
</div>

<h2>All Merchants:</h2>

<div id="merchant-enabled">
  <h3>Enabled Merchants</h3>
  <% @merchants.each do |merchant| %>
  <div id="merchants-<%= merchant.id %>">
    <% if merchant.status == 'enabled' %>
      <h3>-<%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
      Status: <%= 'available' %>
      <%= button_to "Disable #{merchant.name}", "/merchants/#{merchant.id}?button=true", method: :patch %><br>
    <% end %>
  <% end %>
  <div id="merchant-disabled">
  <h3>Disabled Merchants</h3>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == 'disabled' %>
      <h3>-<%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
      Status: <%= 'unavailable' %>
      <%= button_to "Enable #{merchant.name}", "/merchants/#{merchant.id}?button=true", method: :patch %><br>
    <% end %>
  <% end %>
  </div>
  </div>
</div>
