<h1>Invoice <%= "#{@invoice.id}" %> Show Page</h1>


Id: <%= "#{@invoice.id}"  %><br>
Status: <%= "#{@invoice.status}"  %><br>

<%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
  <%= f.label :status, 'New Status' %>
  <%= f.select :status, ["in progress","cancelled", "success"], selected: @invoice.status %>
  <%= f.submit 'Change Status' %>
<% end %>

Created: <%= "#{@invoice.created_at.strftime("%A, %B %d, %Y")}"  %><br>
Customer Name: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}"  %><br>

<% @invoice.invoice_items.each do |invoice_item| %>
Item Name: <%= invoice_item.item.name %><br>
Item Quantity: <%= invoice_item.quantity %><br>
Item Price: <%= invoice_item.item.unit_price %><br>
Invoice Item Status: <%= invoice_item.status %><br>
<% end %>

<h2>Total Revenue: $<%= @invoice.total_revenue.to_s.insert(-3,".") %></h2>

