<h1>Discounts</h1>
<div id="discounts">
   <% @merchant.bulk_discounts.each do |discount| %>
   <div id= <%=  "discount-#{discount.id}"%>>
    <p>Discount Id: <%= link_to "#{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
    <p>Percentage Discount: <%= discount.percentage_discount %>%</p>
    <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
    <p><%= link_to "Delete", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %></p>
    <p>-----------------------------</p>
  </div>
    <br>
    <% end %>
</div>

<%= link_to "Create New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
